.jumbotron {
  background: #ffffffb8;
}

.jumbotron-container {
  height: 100vh;
  display: flex;
}

.jumbotron-main-container{
  background: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
