.jumbotron {
  background: #3f4668 !important;
}

.jumbotron-container {
  height: 100vh;
  display: flex;
}

.jumbotron-main-container {
  background: #601e4f;
}

@media (max-height: 450px) {
  .skills-container {
    display: none !important;
  }
}
