.projects-main {
  background: #dee2e6;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.projects-container {
  background: #3f4668;
}

.project-item {
  background: #000000f0;
}

.card {
  background: transparent;
}
