.projects-main {
  background: url('../images/background_down.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.project-item {
  background: #000000F0;
  box-shadow: 5px 5px 20px #FD74E036, -5px -5px 20px #FD74E036;
}

.card {
  background: transparent;
}
