body {
  color: #ffffff;
}

#app {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
#app > section {
  scroll-snap-align: end;
}

.container-fluid section {
  height: 95vh;
  overflow: scroll;
}

.navbar.sticky-top {
  z-index: 1030 !important;
}